In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [3]:
df=pd.read_csv("Loan Prediction Dataset.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
df['Loan_ID'] = df['Loan_ID'].astype('category')
df['Loan_ID'] = df['Loan_ID'].cat.codes
df['Gender'] = df['Gender'].astype('category')
df['Gender'] = df['Gender'].cat.codes
df['Married'] = df['Married'].astype('category')
df['Married'] = df['Married'].cat.codes
df['Education'] = df['Education'].astype('category')
df['Education'] = df['Education'].cat.codes
df['Self_Employed'] = df['Self_Employed'].astype('category')
df['Self_Employed'] = df['Self_Employed'].cat.codes
df['Loan_Status'] = df['Loan_Status'].astype('category')
df['Loan_Status'] = df['Loan_Status'].cat.codes
df['Property_Area'] = df['Property_Area'].astype('category')
df['Property_Area'] = df['Property_Area'].cat.codes

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,610,1,1,3+,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [25]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df.dropna()

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,5,1,1,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,610,1,1,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,611,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,612,1,1,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,613,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [ ]:
df=df.drop(columns="Dependents")

In [28]:
df

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,610,1,1,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,611,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,612,1,1,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,613,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [29]:
le=preprocessing.LabelEncoder()
X=df.drop(columns="Loan_Status")
X

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,0,0,5849,0.0,NaN,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,2,1,1,0,1,3000,0.0,66.0,360.0,1.0,2
3,3,1,1,1,0,2583,2358.0,120.0,360.0,1.0,2
4,4,1,0,0,0,6000,0.0,141.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
610,610,1,1,0,0,4106,0.0,40.0,180.0,1.0,0
611,611,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
612,612,1,1,0,0,7583,0.0,187.0,360.0,1.0,2
613,613,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [30]:
y=df['Loan_Status']
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int8

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=41)

In [32]:
from sklearn.naive_bayes import GaussianNB

In [33]:
model = GaussianNB()

In [35]:
import pandas as pd

# Convert X_train to a pandas DataFrame
X_train_df = pd.DataFrame(X_train)

# Check for missing values in X_train_df
missing_values = X_train_df.isnull().sum()

# Print the number of missing values in each column
print(missing_values)

Loan_ID               0
Gender                0
Married               0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     10
Credit_History       39
Property_Area         0
dtype: int64

In [36]:
X_train = X_train_df.dropna()
y_train = y_train[X_train.index]

In [37]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="mean")
X_train = imputer.fit_transform(X_train)

In [ ]:
model.fit(X_train, y_train)

In [40]:
print(X_test.isnull().sum())

Loan_ID               0
Gender                0
Married               0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            4
Loan_Amount_Term      4
Credit_History       11
Property_Area         0
dtype: int64

In [45]:
X_test = X_test.dropna()
y_test = y_test[X_test.index]

In [46]:
# If there are missing values, impute them using a suitable method
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="mean")
X_test_imputed = imputer.fit_transform(X_test)

# Predict using the imputed data
predicted = model.predict(X_test_imputed)
print("Predicted Value:", predicted)

Predicted Value: [1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 1 0 1 0 0
 1 1 0 1 0 1 1 1 0 1 1 0 0 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 0]

In [47]:
from sklearn import metrics

In [48]:
print("Accuracy:",metrics.accuracy_score(y_test, predicted))

Accuracy: 0.7596153846153846